---
import ContainerBlue from "../components/ContainerBlue.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Crew">
  <main
    class="md:bg-Crew-desktop bg-Crew-mobile sm:bg-Crew-tablet min-h-screen bg-no-repeat bg-center bg-cover">
    <ContainerBlue />
  </main>
</Layout>
