---
import ContainerBlue from "../components/ContainerBlue.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Destination">
  <main
    class="md:bg-Destination-desktop bg-Destination-mobile sm:bg-Destination-tablet min-h-screen bg-no-repeat bg-center bg-cover">
    <ContainerBlue> s </ContainerBlue>
  </main>
</Layout>
