---
import ButtonExplore from "../components/ButtonExplore.astro";
import ContainerBlue from "../components/ContainerBlue.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home ">
  <main
    class="lg:bg-Home-desktop bg-Home-mobile sm:bg-Home-tablet min-h-screen bg-no-repeat bg-center bg-cover">
    <ContainerBlue active={true}>
      <section
        class="flex flex-col items-center justify-center gap-10 text-center text-white lg:flex-row lg:text-left sm:gap-20 lg:gap-40 px-8 lg:items-center">
        <div class="max-w-[400px] lg:max-w-[550px] mx-auto mb-10">
          <p class="mb-5 text-blue-300 tracking-widest text-sm lg:text-xl">
            SO, YOU WANT TO TRAVEL TO
          </p>
          <h1 class="text-7xl font-Bellefair sm:text-9xl sm:mb-5">SPACE</h1>
          <p
            class="prose text-center text-blue-300 sm:text-xs lg:text-base lg:text-left">
            Let’s face it; if you want to go to space, you might as well
            genuinely go to outer space and not hover kind of on the edge of it.
            Well sit back, and relax because we’ll give you a truly out of this
            world experience!
          </p>
        </div>
        <ButtonExplore />
      </section>
    </ContainerBlue>
  </main>
</Layout>
