---
import ContainerBlue from "../components/ContainerBlue.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Technology">
  <main
    class="md:bg-Technology-desktop bg-Technology-mobile sm:bg-Technology-tablet min-h-screen bg-no-repeat bg-center bg-cover">
    <ContainerBlue active={false}> <div>a</div> </ContainerBlue>
  </main>
</Layout>
