<a
  href="/destination"
  class="w-[144px] h-[144px] hover:text-blue-300 flex justify-center items-center relative rounded-full uppercase text-blue-900 sm:text-4xl bg-white-default before:absolute before:content-[''] before:w-[144px] before:h-[144px] before:bg-white-100 before:top-0 before:left-0 before:rounded-full before:hover:scale-150 before:transition-all sm:w-[272px] sm:h-[272px] sm:before:h-[272px] sm:before:w-[272px]">
  Explore
</a>
