<div id="containner" class="w-full pb-3 px-4 sm:w-9/12 mx-auto md:flex-1">
  <div class="flex justify-center gap-8 mb-8">
    <span
      class="cursor-pointer pb-1 border-b-2 border-transparent hover:border-white-default uppercase"
      >Moon</span
    >
    <span
      class="cursor-pointer pb-1 border-b-2 border-transparent hover:border-white-default uppercase"
      >Mars</span
    >
    <span
      class="cursor-pointer pb-1 border-b-2 border-transparent hover:border-white-default uppercase"
      >Europa</span
    >
    <span
      class="cursor-pointer pb-1 border-b-2 border-transparent hover:border-white-default uppercase"
      >Titan</span
    >
  </div>
  <div class="text-center pb-4 border-b border-blue-300">
    <h1 id="namePlanet" class="text-6xl font-Bellefair uppercase">Moon</h1>
    <p
      id="descriptionPlanet"
      class="text-center text-gray-400 text-base leading-6 tracking-wide mt-4 mb-8 mx-auto max-w-lg">
      See our planet as you’ve never seen it before. A perfect relaxing trip
      away to help regain perspective and come back refreshed. While you’re
      there, take in some history by visiting the Luna 2 and Apollo 11 landing
      sites.
    </p>
  </div>
  <div class="sm:flex justify-around">
    <div class="text-center">
      <p class="text-base uppercase text-blue-300 mt-8 mb-2">avg. distance</p>
      <h3 id="distance" class="text-4xl uppercase font-Bellefair">
        384,400 km
      </h3>
    </div>
    <div class="text-center">
      <p class="text-base uppercase text-blue-300 mt-8 mb-2">
        est. travel time
      </p>
      <h3 id="travel" class="text-4xl uppercase font-Bellefair">3 days</h3>
    </div>
  </div>
</div>
