---
interface Props {
  active: boolean;
}
const { active } = Astro.props;
---

<div
  class=`${active && 'lg:items-center lg:flex lg:justify-center'} pt-36 md:px-10 min-h-screen w-full bg-blue-900/15 overflow-hidden`>
  <slot />
</div>
