---
interface Props {
  active: boolean;
}
const { active } = Astro.props;
---

<div
  class=`bg-blue-950/30 ${active && 'lg:items-center lg:flex lg:justify-center'} pt-36 md:px-10 min-h-screen w-full  overflow-hidden `>
  <slot />
</div>
